# Ignorar configuraciones de IDE (PyCharm, IntelliJ, etc.)
.idea/

# Ignorar entornos virtuales
venv/

# Ignorar archivos generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de caché en general
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db